body{
    font-family: Calibri;
}
.mainContainer{
    background-color: #337ab7;
    border-radius: 15px;
    margin-top: 5%;
}
li{
    font-size: 1.5em;
}
li input{
    display: none;
}
li.edit span{
    display: none;
}
li.edit input{
    display: initial;
}

/*--- priority panel css ---*/
.priorityPanel{
    background-color: #d58512;
    margin: auto;
    margin-bottom: 2%;
    border-radius: 5px;
}
.priorityPanel h3{
    color: #333;
}

/*--- left panel css ---*/
.leftPanel{
    background-color: lightgray;
    border-radius: 10px;
    margin-bottom: 3%;
}
.leftPanel h2{
    color: #419641;
}

/*--- right panel css ---*/
.rightPanel{
    background-color: lightgray;
    border-radius: 10px;
    margin-bottom: 3%;
}
.rightPanel h2{
    color: #419641;
}